.Mainheading{
    color: blue;
}

.Mainheading{
    text-align: center;
			} 

.comp_img{
    position: absolute;
    top:30%;
    left:55%;
    width: 30%;
    height: 30%;
    border-radius: 16px;
}

.container{
     position: absolute;
    top:20%;
    left:10%;
    width: 38%;
    height: 60%;
}

h3{
    border-style: solid;
    text-align: center;
    width: 250px;
}

.saas_text{
    width:80%;
}
 
 .paas_text{
    width:80%;
 }
 
 .iass_text{
    width: 80%;
 }
 
.cass_text{
    width: 80%;
}

.saas{
    border-style: solid;
    background-color: lightgrey;
}

.saas img{
    position: absolute;
    top: 20%;
    left: 81%;
    width: 18%;
}

.paas{
     border-style: solid;
    background-color: lightgrey;
}

.paas img{
    position: absolute;
    top: 50%;
    left: 81%;
    width: 18%;
}


.iaas{
    border-style: solid;
    background-color: lightgrey;
}

.iaas img{
    position: absolute;
    top: 90%;
    left: 81%;
    width: 18%;
}

.caas{
    border-style: solid;
    background-color: lightgrey;
}

.caas img{
    position: absolute;
    top: 115%;
    left: 81%;
    width: 18%;
}

